/* scaffolding */
/* ----------- */

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.content{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color: #6D6E71;
}
.content_wrapper{
  min-height: 560px;
  color: #6D6E71;
  font-weight: 400;
}
.content_wrapper h3{
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  padding: 0px
}
.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
}


a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}


.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

.twitter-typeahead {
  display: block !important;
}

.action-icon {
  margin-right: 10px;
  font-size: 16px;
  border: none;
  background:transparent;

}
.action-icon:last-child {
  margin-right: 0px;
}
th.action {
  width: 95px;
}

/*tbody tr td{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding:10px;
  font-family: 'Open Sans',sans-serif;
  color: #919298;
}
th{
  text-align: center;
}
tfoot tr td{  
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  color: #6D6E71;
}*/
.submit_w a{
  color: white !important;  
}
.submit_w a:hover{  
  text-decoration: none;
}
table.dataTable.no-footer{
  border : 0;
}
#dataTable_paginate a{
  color:#6D6E71;
  text-decoration: none;
  background: white;
}
.pagination{
  background: white;
}
.dataTable_wrapper{
  border: solid 1px #DDDDDD;
  margin-top: 20px;
  background: white;
  padding: 25px 15px;
}
select.input-sm{
  line-height: 1 !important;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  border: 1px solid #6D6E70 !important;
  border-radius: 2px !important;
}

.abcnfooter{
  margin-top: 50px;
  height:40px;
  background: #fff;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  padding-right: 20px;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}
.abcnfooterPosition{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.table_box tfoot th{
  text-align: center !important;
  font-size: 14px !important;
  /*font-weight: 300 !important;*/
}
.tools_btn_l1, .tools_btn_r {
  color:#FAFAFA !important;
}
.h2wrapp h2 {
  font-size: 16px;
  color: #6D6E71;
  line-height: 2;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.owner_show{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color:#6D6E71;
}
.select_style{
  clear:both !important;
  text-align: left !important;
  display: inline-block !important;
}
.select_style.active .value_wrapper{    
  clear:both !important;
}
.centers_basic{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color:#6D6E71;  
}
/*.centers_basic .change{
  text-align: left;  
  cursor: pointer;
  font-size: 12px;
  clear:both;
}*/
.swb_wrapp h3.mediumBold.center{
  min-height: 70px;
}
.h2wrapp.mtop1{
  padding-top: 40px;
}
.s_w_box{
  font-size: 14px;
  font-weight: 300;   
}
.s_w_box h3{
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  color:#6D6E71;
}
.removeXbtn{
  float: right;
  margin-right: 15px;  
}
.formOinfo a{
  font-size: 12px;
  color: black 
}

.tabs-container .tab-content {
  border: 0.1em outset #BBB;
  padding: 3.3em 0.3em 0.3em 0.3em;
  background: #ffffff;
}

.tabs-container ul.nav-tabs {
  text-align: center;
}

.tabs-container ul.nav-tabs li {
  float: inherit;
  display: inline-block;
}

.accounting-buttons-cont a.btn {
  margin-bottom: 20px;
  max-width: 100%;
  color: #396AB2!important;
  border: 2px solid #369;
  padding: 15px 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 13px;
  line-height: 30px;
  width: 260px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.accounting-buttons-cont a.btn:hover{
  text-decoration: none;
  background-color: #369;
  color: #ffffff!important;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.country, .state, .platinum_package, .owners, .postal_code {
  width : 317px;
  height: 35px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.plus_packages{
  width : 417px;
  height: 40px;
  margin-bottom: 3px;
}
#center_active_checkbox{
  margin-top: 10px;
  margin-right: 220px;
}

/*invoice section*/

#AVOlogo {
    width: 200px;
    height: 80px;
    float: left;
    background: url(https://www.alliancevirtualoffices.com/external/images/AVOLOGO.png) no-repeat;
}
#invContent {


    background-color: #f4f4f4;
    border: 1px solid #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#contact {
    width: 290px;
    height: 65px;
    margin-top: 15px;
    float: right;
    text-align: right;
    color: #666;
    font-size: 11px;
}

#address {
    width: 350px;
    height: 50px;
    padding-left: 5px;
    margin-top: 10px;
    float: left;
    color: #666;
    font-size: 11px;
}
strong, b {
    font-weight: bold;
}

#date {
    width: 300px;
    height: 60px;
    float: right;
    text-align: right;
}

#UserLogin {
    width: 260px;
    height: 20px;
    margin-top: 14px;
    margin-left: 10px;
    float: left;
}

#userDivision {
    width: 590px;
    background-color: #f6f6f6;
    height: 40px;
}

#AllSummary {
    margin-top: 20px;
    width: 598px;
    overflow: auto;
}

/*a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}*/

#social {
    width: 590px;
    height: 24px;
    margin-bottom: 20px;
    background: url(https://www.alliancevirtualoffices.com/external/images/social.png) no-repeat right;
    display: block;
}

#billing {
    width: 590px;
    overflow: auto;
}
.t2 {
    font-size: 13px;
    font-weight: bold;
    color: #207F9F;
}

#space {
    width: 100%;
    height: 40px;
}


#Marketing {
    widows: 590px;
    height: 357px;
    margin-bottom: 10px;
    background: url(https://www.alliancevirtualoffices.com/external/images/MRinvoice.jpg) no-repeat;
}
#cutomer {
    width: 270px;
    overflow: auto;
    float: left;
}

#InvoiceSumm {
    width: 300px;
    overflow: auto;
    float: right;
    padding: 5px;
    border: solid 3px #207F9F;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
}
.t2 {
    font-size: 13px;
    font-weight: bold;
    color: #207F9F;
}

#lef {
    width: 190px;
    float: left;
    overflow: auto;
    margin-left: 10px;
}
.spaceTot {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#righ {
    width: 70px;
    float: left;
    overflow: auto;
    font-weight: bold;
    color: #E21D37;
    text-align: right;
}

#face {
    width: 94px;
    height: 24px;
    float: right;
}

#tweet {
    width: 94px;
    height: 24px;
    float: right;
}


.redB {
    font-weight: bold;
    text-align: right;
    color: #E21D37;
}

#questions {
    width: 100%;
    height: 30px;
    margin-top: 25px;
    background-color: #f6f6f6;
    padding-top: 15px;
    text-align: right;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
}


#InvoiceNumber {
    width: 180px;
    height: 20px;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    text-align: right;
}

.t1 {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #2BA048;
}
#invoiceTop {
    width: 590px;
    overflow: auto;
}
div {
    display: block;
}

#cutomer {
    width: 270px;
    overflow: auto;
    float: left;
}

/*a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}*/



a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.questions_a {
    color: #207F9F;
}


/* Costumer Text Area */ 


.costumer_text_area{
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.customer_text_area_links{
  text-decoration: none !important;
  color: #369 !important ;
  font-size: 12px;
}

.customer_text_area_links:hover{
  text-decoration: underline !important; 
}

.customer_text_area_headers{
  color: black !important;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
}

.customer_text_area_text{
  font-size: 13px !important ;
  font-weight: bold !important;
  color: #949494 !important; 
}

.customer_text_area_text:first-child{
  margin-top: 10px;
}

.customer_text_area_selects{
    border: 2px solid #ADAFB2;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 13px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    height: 30px;
    -webkit-appearance: menulist !important;
    background: #DDDDDD !important; 
}

.customer_text_area_button{
  border: 2px solid #ADAFB2;
  border-radius: 5px !important;
  padding: 1px 14px; 
}

.table>tbody>tr>td{
  border-top:0px !important;
  margin-left: 3px !important;
  text-align: left !important;
  color: black !important;
  width: 150px !important;
  padding: 0px !important;
  height: 20px !important;
  line-height: 30px !important;
  margin-left: 3px !important;
  font-size: 12px !important;
}

.table { 
    border-spacing: 3px !important;
    border-collapse: separate !important;
}

.table>tbody>tr{
  height: 30px !important;
}

.text_align_left{
  text-align: left !important;
  padding-left: 30px !important;
  line-height: initial;
  padding-right: 10px !important;
}

.table>tr:hover td{
  background: #D5EAFF;
}

.left_side_area{
  background: white !important;
  border-radius: 5px; 
  width: 361px;
}

.paddin_left_content{
  padding-left:5% !important
}

.left_side_area_content{
  float: none !important;
  width: 100%!important;
  overflow: none !important;
  margin-bottom: 10px !important;
  padding-left: 10px !important;
}

.right_side_content{
  width: 60% !important;
}