/* scaffolding */
/* ----------- */

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.content{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color: #6D6E71;
}
.content_wrapper{
  min-height: 560px;
  color: #6D6E71;
  font-weight: 400;
}
.content_wrapper h3{
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  padding: 0px
}
.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
}


a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}


.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

.twitter-typeahead {
  display: block !important;
}

.action-icon {
  margin-right: 10px;
  font-size: 16px;
  border: none;
  background:transparent;

}
.action-icon:last-child {
  margin-right: 0px;
}
th.action {
  width: 95px;
}

tbody tr td{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding:10px;
  font-family: 'Open Sans',sans-serif;
  color: #919298;
}
th{
  text-align: center;
}
tfoot tr td{  
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  color: #6D6E71;
}
.submit_w a{
  color: white !important;  
}
.submit_w a:hover{  
  text-decoration: none;
}
table.dataTable.no-footer{
  border : 0;
}
#dataTable_paginate a{
  color:#6D6E71;
  text-decoration: none;
  background: white;
}
.pagination{
  background: white;
}
.dataTable_wrapper{
  border: solid 1px #DDDDDD;
  margin-top: 20px;
  background: white;
  padding: 25px 15px;
}
select.input-sm{
  line-height: 1 !important;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  border: 1px solid #6D6E70 !important;
  border-radius: 2px !important;
}

.abcnfooter{
  margin-top: 50px;
  height:40px;
  background: #fff;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  padding-right: 20px;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}
.abcnfooterPosition{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.table_box tfoot th{
  text-align: center !important;
  font-size: 14px !important;
  /*font-weight: 300 !important;*/
}
.tools_btn_l1, .tools_btn_r {
  color:#FAFAFA !important;
}
.h2wrapp h2 {
  font-size: 16px;
  color: #6D6E71;
  line-height: 2;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.owner_show{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color:#6D6E71;
}
.select_style{
  clear:both !important;
  text-align: left !important;
  display: inline-block !important;
}
.select_style.active .value_wrapper{    
  clear:both !important;
}
.centers_basic{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color:#6D6E71;  
}
/*.centers_basic .change{
  text-align: left;  
  cursor: pointer;
  font-size: 12px;
  clear:both;
}*/
.swb_wrapp h3.mediumBold.center{
  min-height: 70px;
}
.h2wrapp.mtop1{
  padding-top: 40px;
}
.s_w_box{
  font-size: 14px;
  font-weight: 300;   
}
.s_w_box h3{
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  color:#6D6E71;
}
.removeXbtn{
  float: right;
  margin-right: 15px;  
}
.formOinfo a{
  font-size: 12px;
}

.tabs-container .tab-content {
  border: 0.1em outset #BBB;
  padding: 3.3em 0.3em 0.3em 0.3em;
  background: #ffffff;
}

.tabs-container ul.nav-tabs {
  text-align: center;
}

.tabs-container ul.nav-tabs li {
  float: inherit;
  display: inline-block;
}

.accounting-buttons-cont a.btn {
  margin-bottom: 20px;
  max-width: 100%;
  color: #396AB2!important;
  border: 2px solid #369;
  padding: 15px 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 13px;
  line-height: 30px;
  width: 260px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.accounting-buttons-cont a.btn:hover{
  text-decoration: none;
  background-color: #369;
  color: #ffffff!important;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.country, .state, .platinum_package{
  width : 317px;
  height: 35px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.plus_packages{
  width : 417px;
  height: 40px;
  margin-bottom: 3px;
}
#center_active_checkbox{
  margin-top: 10px;
  margin-right: 220px;
}
