#resultados{
	position:absolute; margin-top:460px; margin-left:717px; z-index:1001;
}
.acInput {
	width: 200px;
}

.acResults {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	/*margin-right: auto;
	margin-left: auto;*/
}

.acResults ul {
	margin: 0px;
	padding: 0px;
	list-style-position:fixed!important;
	list-style: none;
}

.acResults ul li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.acLoading {
	background : url('https://www.alliancevirtualoffices.com/css/images/loading.gif') right center no-repeat;
}

.acSelect {
	background-color: Highlight;
	color: HighlightText;
}
