.text-error-custom {
	color: #f00;
	margin-left: 95px;
	position: relative;
	top: -7px;
	display: inline-block;
}

.text-success-custom {
	color: #0f0;
}

.label-error {
	color: #f00!important;
}

.input-error {
	border: 1px solid #f00!important;
}

.alert-success-custom {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 15px;
  	margin-bottom: 20px;
  	border: 1px solid transparent;
  	border-radius: 4px;
}

.alert-warning-custom {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
	padding: 15px;
  	margin-bottom: 20px;
  	border: 1px solid transparent;
  	border-radius: 4px;
}

.alert-error-custom {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
	padding: 15px;
  	margin-bottom: 20px;
  	border: 1px solid transparent;
  	border-radius: 4px;
}